@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Outfit:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";


      body {
        background-color: #000;
        color: white;
        overflow-x: hidden;
      }
      /* Custom scrollbar for dashboard lists */
      .no-scrollbar::-webkit-scrollbar {
        display: none;
      }
      .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
      }
      h1 {
        -webkit-text-stroke: 0.5px rgba(255, 255, 255, 0.42);
        text-shadow: rgb(0, 0, 0) 0px 4px 24px;
        color: rgba(255, 255, 255, 0.59);
      }
      .news-card{
    display: flex;
    flex-direction: column;
    gap: 18px;
    width: 100%;
    z-index: 1;
    background: linear-gradient(182.51deg, rgba(255, 255, 255, 0.04) 27.09%, rgba(90, 90, 90, 0.04) 58.59%, rgba(0, 0, 0, 0.04) 92.75%);
    overflow: hidden;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.66) 0px 53.1263px 86.7729px, rgba(0, 0, 0, 0.4) 0px 20.4635px 27.6388px, rgba(0, 0, 0, 0.26) 0px 4.32881px 7.07039px;
    backdrop-filter: blur(18px);
    border-radius: 10px;
    padding: 22px 24px 32px 28px;
    
      }
    
    .news-card::before {
    content: "";
    position: absolute;
    inset: 0px;
    filter: url(#noiseFilter);
    opacity: 0.1;
    pointer-events: none;
    
}